.container {
  height: 150px;
  width: 900px;
  margin: 0 auto;
  display: flex;
  border: 1px solid #ccc;
}

.item1 {
  margin: 5px;
  border: 2px solid brown;
  background-color: white;
  text-align: center;
  font-size: 1.5cm;
  width: 400px;
  box-shadow: -10px 20px brown;
}



.item {
  margin: 5px;
  border: 2px solid brown;
  background-color: white;
  text-align: center;
  font-size: 1.5cm;
  width: 200px;
  box-shadow: -5px 20px brown;
}